rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /study_data/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
